<div>
  <img href="{{featured_image}}"></img>
  <h1>{{name}}</h1>
  <p>$ {{average_cost_for_two}}.00-ish per person incl. drinks</p>
  <p>{{user_rating.aggregate_rating}} out of 5. </p>
  <p>{{user_rating.rating_text}} based on {{user_rating.votes}} votes</p>
  <p>{{cuisines}}</p>
  <p>{{location.address}}</p>
</div>

